*{
  padding: 0;
  margin: 0;
}

main {
  margin: 15px;
}

body {
  background-color: #070511;
  color: #ffffff;
  max-width: 600px;
  font-family: 'Lato', arial;
  font-size: 15px;
  padding: 3%;
}

h2 {
  margin: 19px;
}

input {
  width: 50%;
}

.searchBtn, input, .randomHero {
  border: 1px solid transparent;
  padding: 10px;
}

.searchBtn {
  margin-left: -78px;
  width: 70px;
  padding: 5px;
  background-color: #797070;
}

input, .searchBtn, img, .randomHero {
  border-radius: 20px;
}

.randomHero {
  margin-left: 10px;
  background-color: #717003;
  color: #d8c6c6;
}

.inputDiv, .heroName {
  margin-bottom: 20px;
}

.heroInfoDiv {
  display: flex;
  flex-direction: column;
}

.profileDiv {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  column-gap: 30px;
  padding-bottom: 20px;
}

.profileDiv p, .heroInfo p, h3 {
  margin-bottom: 13px;
}

h3 {
  color: #ecc759;
  padding-left: 10px;
}

img {
  width: 257px;
  height: 270px;
  border: 5px solid #2a033e;
}